body {
    background-color: black;
}

.square {
    width: 30%;
    background: blue;
    padding-top: 30%;
    float: left;
    margin: 1.66%;

}

#container {
    max-width: 600px;
    margin: 0 auto;


}

h1 {
    color: white;

}